.Chat {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
}

.Overlay {
    grid-area: 1 / 1 / 6 / 7;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none;
}

.Message {
    background: red;
    grid-area: 5 / 2 / 6 / 6;
}

.Users {
    background: yellow;
    grid-area: 2 / 1 / 4 / 2;
}

.Login {
    background: blue;
    grid-area: 2 / 6 / 4 / 7;
}

.History {
    background: violet;
    grid-area: 1 / 2 / 5 / 6;
}