.Project{
    height: 100vh;
    display: flex;
    align-items: center;
}

.Project a {
  width: 100%;
}

.Bubble {
    position: relative;
    width: 70%;
    margin: auto;
    font-size: 18px;
    background-color: #21d4fd;
    background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
    border-radius: 36% 64% 13% 87% / 71% 22% 78% 29%;
    box-shadow: 
      0px 0px 3px #21d4fd,
      0px 0px 6px white,
      0px 0px 9px #b721ff;
    animation: morphing 3s infinite;
    z-index: -1;
}

.Bubble h1{
  text-transform: capitalize;
  letter-spacing: 0.4em;
  font-weight: 600;
  color: rgb(80,80,80);
  text-align: center;
  width: 100%;
  transform: translateX(-15%);
} 

.Tags {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
}

.Tag {
    width: 100%;
}

.Image {
    display: none;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0%;
    border-radius: 71% 22% 78% 29% /36% 64% 13% 87%;
    animation: morphing_reloaded 3s infinite;
}

@media screen and (min-width:600px){
  .Project {
    margin: auto;
    height: 600px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .Bubble {
    height: 500px;
  }
}

  @keyframes morphing {
    0% {
      border-radius: 36% 64% 13% 87% / 71% 22% 78% 29%;
    }
    20% {
      border-radius: 67% 33% 64% 36% / 35% 73% 27% 65%;
    }
    35% {
      border-radius:  35% 73% 27% 65% /67% 33% 64% 36%;
    }
    50% {
      border-radius:  12% 85% 15% 88% / 86% 14% 90% 10%;
      --border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
    }
    70% {
      border-radius: 29% 71% 29% 71% / 48% 56% 44% 52%;
    }
    95% {
      border-radius:   36% 64% 13% 87% / 71% 22% 78% 29%;
    }
  }
  
  @keyframes morphing_reloaded {
    0% {
      border-radius: 71% 22% 78% 29% /36% 64% 13% 87% ;
    }
    20% {
      border-radius:  35% 73% 27% 65% /67% 33% 64% 36%;
    }
    35% {
      border-radius:   67% 33% 64% 36% / 35% 73% 27% 65%;
    }
    50% {
      border-radius:  86% 14% 90% 10% / 12% 85% 15% 88%;
    }
    70% {
      border-radius: 48% 56% 44% 52% / 29% 71% 29% 71%;
    }
    95% {
      border-radius:  71% 22% 78% 29% / 36% 64% 13% 87%;
    }
  }
  